<div class="featured-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>{{ title|capfirst }}</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div id="filters" class="button-group">
                    <button class="btn btn-primary {% if not pk%} active {% endif %}" data-filter="{% url 'products:index'%}">
                        All
                    </button>
                    {% for category in categories %}
                    <button class="btn btn-primary {% if pk == category.pk %} active {% endif %}" data-filter="{{category.href}}">
                        {{category.name|capfirst}}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>