{% extends 'base.html' %}
{% load static %}
{% block content%}

<!-- Page Content -->
<!-- About Page Starts Here -->
<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>About Us</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-image">
                    <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <h4>Space will never be the same</h4>
                    <p>We are Space Cowboys, a team of four old dudes who have seen it all.We have traveled across the galaxy, fought aliens, explored wormholes, and survived supernovas</p>
                    <br>
                    <p>We have also amassed a collection of the most stunning galaxies and spacecrafts in the universe. Now we want to share our love and knowledge of space with you. Whether you are looking for a cozy nebula, a retro rocket, or a thrilling expedition, we have what you need.</p>
                    <br>
                    <p>Browse our catalog and find your perfect match. Space Cowboys: we make your dreams come true</p>
                    <br>

                    <div class="share text-center">
                        <h6>Find us on: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Page Ends Here -->
{% endblock %}



