{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% block content%}

<!-- Page Content -->
<!-- Items Starts Here -->
 {% include 'includes/inc_category_menu.html' %}

<div class="featured container no-gutter">
    <div class="row posts">

        {% for product in products %}
        <div id="{{ product.id }}" class="item new col-md-4">
            <a href="{% url 'products:product' product.pk %}">
                <div class="featured-item">
                    <img src="
                              {{ product.image|media_folder_products }}
                           "
                         alt="{{ product.name }}">
                    <h4>{{ product.name|capfirst }}</h4>
                    <h6>${{ product.price }}</h6>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
    {% if page_obj.paginator %}
                    {% if page_obj.paginator.num_pages > 1 %}
                    <ul class="pagination">
                            <li class="page-item">

                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page=1">&laquo;1 </a>
                            {% endif %}

                             </li>
                        <li class="page-item">
                            {% if page_obj.has_previous %}

                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> previous </a>

                               {% endif %}
                        </li>

                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}"> next </a>
                            {% endif %}
                        </li>
                         <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> {{ page_obj.paginator.num_pages }}&raquo;</a>
                              {% endif %}
                        </li>
                    </ul>
                    {% endif %}
                    {% endif %}
</div>

{% endblock %}
