{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title|capfirst }}
{% endblock %}
{%block content%}
<div class="container">
    <div class="form-row">
        <div class="mx-auto col-3 d-grid align-items-end text-center">
            <form action="{% url 'auth:login' %}" method="post" class="form-horizontal">
                <br>
                {% csrf_token %}
                {% for item in login_form %}
                <div class="mx-auto ">
                    {{ item }}
                    {% if item.help_text %}
                    {{ item.help_text|safe }}
                    {% endif %}
                </div>

                <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary col-8">Sign In</button>
            </form>
            <br>
            <button class="btn btn-round btn-primary col-8">
                <a href="{#% url 'auth:register' %#}" class="text-light">Login</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}