{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title|capfirst }}
{% endblock %}
{%block content%}
<div class="container">
    <div class="form-row">
        <div class="mx-auto col-3 d-grid align-items-end text-center">
            <form action="{% url 'auth:login' %}" method="post" class="form-horizontal">
                <br>
                {% csrf_token %}
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                <div>{{ login_form.username}}

                </div>
                <br>
                <div>{{ login_form.password}}

                </div>
                <br>
                <button type="submit" class="btn btn-primary col-6">Log In</button>
            </form>
            <br>
            <input class="btn btn-primary col-6" type="button" value="Sign In" onclick="location.href='{% url 'auth:register' %}'"/>
        </div>
    </div>
</div>
{% endblock %}