{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title|capfirst }}
{% endblock %}
{%block content%}
<div class="container">
    <div class="form-row">
        <div class="mx-auto col-3 d-grid align-items-end text-center">
            <form action="{% url 'auth:login' %}" method="post" class="form-horizontal">
                <br>
                {% csrf_token %}
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                <div>{{ login_form.username}}
                 {% if login_form.username.help_text %}
                    {{ item.help_text|safe }}
                    {% endif %}
                </div>
                <br>
                <div>{{ login_form.password}}
                 {% if login_form.password.help_text %}
                    {{ password.help_text|safe }}
                    {% endif %}
                </div>
                <br>
                <button type="submit" class="btn btn-primary col-8">Log In</button>
            </form>
            <br>
            <button class="btn btn-round btn-primary col-8">
                <a href="{% url 'auth:register' %}" class="text-light">Sign In</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}