{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title|capfirst }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class=" text-center">{{ title|capfirst }}</h1>

    <div class="row">
        <div class="mx-auto col-3 d-grid align-items-end text-center">
            <form action="{% url 'auth:register' %}" class="form-horizontal" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                {% for item in register_form %}
                <div class="mx-auto ">
                    {{ item }}
                    {% if item.help_text %}
                    {{ item.help_text|safe }}
                    {% endif %}
                </div>

                <br>
                {% endfor %}

            </form>
            <button class="btn btn-primary col-8" type="submit">
                Sign In
            </button>
        </div>
    </div>

</div>
{% endblock %}