{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class=" text-center">{{ title|capfirst }}</h1>

    <div class="row">
        <div class="mx-auto col-8 d-grid align-items-end text-center">
            <form action="{% url 'auth:register' %}" class="form-horizontal" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    <label class="text-center">Name:
                        {{ register_form.username}}
                    </label>
                </p>
                <p>
                    <label class="text-center">Firt Name:
                        {{ register_form.first_name}}
                    </label>
                </p>
                <p>
                    <label class="text-center">Password:
                        <span class="{% if register_form.password1.errors %}pass_error{% endif %}">
                        {{ register_form.password1}} </span>
                    </label>
                </p>

                <p>
                    <label class="text-center">Confirm password:
                        <span class="{% if register_form.password2.errors %}pass_error{% endif %}">
                        {{ register_form.password2}} </span>
                    </label>

                </p>

                <p>
                    <label class="text-center">Email:
                        {{ register_form.email}}
                    </label>

                </p>

                <p>
                    <label class="text-center">Age:
                        <span class="{% if register_form.age.errors %}pass_error{% endif %}">
                    {{ register_form.age}}  </span>
                    </label>

                </p>

                <p>
                    <label class="text-center">Avatar:
                        {{ register_form.avatar}}
                    </label>

                </p>
               <div class="text-center">
                   <ul class="text-center" style="list-style-type:none">
                       {% for error in register_form.password1.errors%}
                       <li>{{ error }}</li>
                      {% endfor %}
                       {% for error in register_form.password2.errors%}
                       <li>{{ error }}</li>
                       {% endfor %}
                       {% for error in register_form.age.errors%}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
               </div>

                <button type="submit" class="btn btn-primary">
                    Sign In
                </button>
            </form>

        </div>
    </div>

</div>
{% endblock %}