 .pass_error input {
    border: 1px solid red;
 }

#filters a {
    color: #1e1e1e;
    font-size:15px;
    font-weight:700
 }
#filters a:hover {
    color: #3a8bcd;
}

#filters .active a {
    color: #3a8bcd;
}

.user_avatar {
    width: 320px;
}

.basket {
    display: flex;
    justify-content: flex-end;
    width: 28px;
    height: 26px;
    background: url(../images/basket.png) no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pre-header span {
    padding: 0;
}

#pre-header .basket span {
    width: 15px;
    height: 15px;
    font-size: 12px;
    padding: 0;
    text-align: center;
    background-color: #3a8bcd;
    color: #fff;
    border-radius: 50%;

}
.pagination {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    padding: 12px 17px;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

.pagination-number:hover,
.pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin ...
}

.mycard-footer {
  display: flex;
  justify-content: space-evenly;
  padding-top:10px;
}
